
.wd-counter-cog-icon {
    color: steelblue;
}
.form-control.counter-ovveride {
    padding-left: 50px;
    border-color: rgba(51,51,74,0.82);
}
.wd-counter-text1 {
    color: white;
    font-size: xxx-large;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.list-group.counter-ovveride {
    border-radius: 0;
}
.wd-counter-search-icon {
    padding: 12px;
    text-align: center;
    position: absolute;
    color: #808080;
}

.wd-counter-text2 {
    color: #808080;
}

.wd-counter-rounding {
    border-radius: 25%;
}

.wd-counter-box {
    display: flex;
    justify-content: space-between;
}

.wd-counter2 {
    display: inline-block;
}

.wd-counterBackround {
    background: black;
}

.list-group-item.counter-ovveride {
    background: black;
    border-color: black;
    padding: 12px;
}

.ed-counter-text3 {
    color: lightgrey;
}

.fa-stack.counter-ovveride {
    font-size: 0.6em;
}

.wd-counter-textgrey {
    font-weight: bold;
    color: lightgrey;
}

.wd-counter-tab {
    background-color: deepskyblue;
}

.wd-counter-less {
    border: 0;
}

.wd-countertext4 {
    color: white;
}

.wd-counterB {
    border: 1px solid grey;
}

.fa-check-circle:before {
    color: black;
    border-radius: 100%;
    background-color: white;
}

.wd-counterBR {
    border-radius: 20%;
}

.wd-counter-HandR {
    background-color: rgba(51,51,74,0.82);
}

.wd-counter-headr {
    font-size: 24px;
}

.btn-primary.counter-ovveride {
    background-color: lightgrey;
    font-weight: bold;
    color: black;
    border-color: gray(211);
}

.wd-counterTB {
    border-color: deepskyblue;
    background-color: deepskyblue;
}

.wd-counterSize {
    font-size: 13px;
    padding-right: 15px;
}

.wd-coounter-inline-block > .wd-counter-lg-B {
    width: 70px;
}


.wed-counterColor {
    background-color: black;
    padding-left: 4px;
}



.wd-counterLeft {
    padding-left: 16px;
    padding-top: 12px;
}

.wd-counter-text6 {
    color: white;
    font-size: 20px;
}

.wd-counterHColor {
    color: lightgray;
    font-size: 13px;
}

.wd-counter-img1 {
    float: left;
    display: inline-block;
    border-radius: 50%;
}
.wd-counterBO {
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #2f3336;
}
.wd-counterAH {
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
    padding-right: 16px;
    color: gray(211);
    font-size: 15px;
}

.wd-counterM {
    margin-top:12px
}

.wd-counter-rounded-Img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.wd-counterP {
    display: inline-block;
    margin: 12px;
}

.wd-counterColor1 {
    color: white;
    font-size: 15px;
}

.wd-counteColor2 {
    color: #d3d3d3;
    font-size: 15px;
}

.wd-counterHeart {
    color: #d3d3d3;
}


.wd-counterF {
    padding: 12px;
    display: flex;
    flex: auto;
    justify-content: space-around;
}

.wd-counterLS {
    display: inline-block;
    padding-left: 12px;
}
.wd-counterLS{
    color: grey;
}
.wd-counterB {
    flex:1;
}
.wd-counterLS.wd-counteColor2{
    color:grey;
}