.searchImg {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    text-align: center;
    position: absolute;
    color: hsl(0, 0%, 50%);
}

.wd-twitter-cog-icon {
    color: grey;
}

.form-control.itemList {
    padding-left: 50px;
    background-color: #181818;
    border-color: #181818;
    color: lightgrey;
}
.grey-text{
    color: white;
    font-size: medium;
    bottom: 38px;
    left: 66px;
}

.grey-text{
    position: absolute;
}

.twText {
    color: hsl(0, 0%, 100%);
    font-size: x-large;
    position: absolute;
    bottom: 8px;
    left: 16px;
}


.list-group.itemList {
    border-radius: 0;
}

.text-white{
    font-size: small;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.botonList {
    justify-content: space-between;
}

.botonList {
    display: flex;
}

.list1 {
    display: inline-block;
}

.chalenge-tw {
    background: #000000;
}

.list-group-item.itemList {
    background: black;
    border-color: black;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.tw-color {
    color: lightgrey;
}

.nav-link.itemList {
    color: grey;
}

.hrefColor {
    color: lightgrey;
}

.hrefColor {
    font-weight: bold;
}

.lastItem {
    font-weight: bold;
    color: #d3d3d3;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #1da1f2;
}


.borderSize {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

.boldColor {
    color: white;
}

.SecondColColor {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: gray(128);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: gray(128);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: gray(128);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray(128);
}

.fa-check-circle:before {
    color: black;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: white;
}

.lastColumn {

}
.listGroup>.textWrap {
    width: 4.3rem;
}

.bColor1 {
    background-color:#181818;
}

.tsize {
    font-size: 24px;
}

.btn-primary.itemList {
    background-color: hsl(0, 0%, 83%);
    font-weight: bold;
    color: black;
    border-color: lightgrey;
}

.tweetColor {
    border-color: deepskyblue;
    background-color: deepskyblue;
}

